<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
</head>

<body>
    <!-- Google Calendar Appointment Scheduling begin -->
    <h1>Nos FALTA 1</h1>
    <h2>Esta es una prueba de agenda usando google calendar</h2>

    <div class="container mt-4">
        <h3>Canchas:</h3>
        <ul class="list-group">
            {% for cancha in canchas %}
            <li class="list-group-item">{{ cancha.nombre }}</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Google Calendar Appointment Scheduling begin 
<iframe src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ0Yga0Dq1JYeVR3ozhQRxJ8TZvNJZeZiVu7_GdGT5_L9Zh9ea_sn7PZK9TM4-Rvt4Cg5H8nTOZo?gv=true" style="border: 0" width="100%" height="800" frameborder="0"></iframe>
 end Google Calendar Appointment Scheduling -->

    <div class="container mt-4" style="max-width: 800px;"> <!-- Reducir el ancho del contenedor -->
        <form id="date-form">
            <label for="selected_date">Seleccionar Fecha:</label>
            <input type="date" id="selected_date" name="selected_date" value="{{ selected_date }}">
            <button type="button" id="check-availability" class="btn btn-primary btn-sm">Mostrar Disponibilidad</button>
        </form>
        <br>
        <div id="availability-container" class="container md-4" style="max-width: 800px;"> <!-- Reducir el ancho del contenedor -->
            {% for cancha in canchas %}
            <h2>{{ cancha.nombre }}</h2>
            <table class="table table-secondary table-hover table-bordered table-sm" style="font-size: 0.85rem;">
                <thead>
                    <tr>
                        <th style="width: 10%;" scope="row">Hora</th>
                        <th style="width: 15%;" scope="row">{{ selected_date.strftime('%A %d') }}</th>
                        <th style="width: 10%;" scope="row">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hora in range(8, 23) %}
                    <tr>
                        <td>{{ '%02d:00' % hora }}</td>
                        {% set reservas_fecha = reservas.get(selected_date.strftime('%Y-%m-%d'), {}).get(cancha.id_cancha, {}) %}
                        {% set reserva = reservas_fecha.get(hora, None) %}
                        <td>
                            {% if reserva %}
                            <div>
                                <p style="margin: 0;">Reservado por {{ reserva.usuario_nombre }}</p>
                            </div>
                            <form action="{{ url_for('delete_reservation', reservation_id=reserva.id_reserva) }}" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                            </form>
                            {% else %}
                            <a href="{{ url_for('reserve', cancha_id=cancha.id_cancha, date=selected_date.strftime('%Y-%m-%d'), time=hora) }}" class="btn btn-primary btn-sm">Reservar</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endfor %}
        </div>

        <script>
            document.getElementById('check-availability').addEventListener('click', function () {
                const selectedDate = document.getElementById('selected_date').value;
                if (!selectedDate) {
                    alert('Por favor, selecciona una fecha.');
                    return;
                }

                fetch(`/api/availability?selected_date=${selectedDate}`)
                    .then(response => response.json())
                    .then(data => {
                        const container = document.getElementById('availability-container');
                        container.innerHTML = data.html; // Actualizar el contenido dinámicamente
                    })
                    .catch(error => console.error('Error al obtener la disponibilidad:', error));
            });
        </script>
    </div>
    </div>

</body>

</html>