<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mascota Imperial{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/original.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if session.get('usuario_id') %}
                    <li><a href="{{ url_for('index') }}">Inicio</a></li>
                    <li><a href="{{ url_for('registrar_mascota') }}" >Registrar Mascota</a></li> <!-- Cambio -->
                    <li><a href="{{ url_for('logout') }}">Cerrar Sesión</a></li>
                {% else %}
                    <li> <a href="{{ url_for('login') }}"> <i class="fas fa-user"></i> Iniciar Sesión</a></li>
                    <li><a href="{{ url_for('registro_usuario') }}">Registrarse</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <div class="container">


        <main class="main-content">
            
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}
        </main>


        <aside class="sidebar right-sidebar">
            <h3>Información Útil</h3>
            <ul class="sidebar-list">
                <li><a href="#">Beneficios de registrar a tu mascota</a></li>
                <li><a href="#">Preguntas frecuentes</a></li>
                <li><a href="#">Cuidados básicos para tu mascota</a></li>
                <li><a href="#">Veterinarios cercanos</a></li>
            </ul>
            <div class="cta-box">
                <h4>¿Necesitas ayuda?</h4>
                <a href="#" class="btn btn-primary">Contáctanos</a>
            </div>
        </aside>

    </div>

    <footer>
        <p>&copy; 2024 Registro de Mascotas</p>
    </footer>
</body>
</html>