<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NosFalta1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body id="dashboard">
    <div class="header">
        <h1 class="welcome">¡Bienvenid@ {{ session.nombre }}!</h1>
        <div class="header-buttons">
            <a href="{{ url_for('nuevo_partido') }}" class="button">Organizar</a>
            <a href="{{ url_for('logout') }}" class="button">Cerrar Sesión</a>
        </div>

    </div>

    {# Mostrar mensajes flash #}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
        <div class="flash-message {{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}


    <div class="container">
        <h2>Mis Partidos:</h2>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Lugar</th>
                        <th>Organiza</th>
                        <th>Fecha</th>
                        <th>Hora </th>
                        <th>Players</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for partido in mis_partidos %}
                    <tr>
                        <td>{{ partido.lugar }}</td>
                        <td>{{ partido.organizador }}</td>
                        <td>{{ partido.fecha_inicio.strftime('%Y-%m-%d') }}</td>
                        <td>{{partido.fecha_inicio.strftime('%H:%M')}}</td>
                        <td>{{ partido.participantes | length}}</td>
                        <td>
                            <a href="{{ url_for('ver_partido', id=partido.id_partido) }}" class="action-link">Ver</a>
                            {% if partido.id_organizador == session.usuario_id %}
                            <a href="{{ url_for('editar_partido', id=partido.id_partido) }}"
                                class="action-link">Editar</a>
                            <a href="{{ url_for('eliminar_partido', id=partido.id_partido) }}" class="action-link"
                                onclick="return confirm('¿Estás seguro de querer eliminar este partido?')">Borrar</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5" style="text-align: center;">No hay partidos registrados</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h2>Partidos disponibles</h2>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Lugar</th>
                        <th>Organiza</th>
                        <th>Fecha</th>
                        <th>Hora </th>
                        <th>Players</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for partido in partidos %}
                    <tr>
                        <td>{{ partido.lugar }}</td>
                        <td>{{ partido.organizador }}</td>
                        <td>{{ partido.fecha_inicio.strftime('%Y-%m-%d') }}</td>
                        <td>{{partido.fecha_inicio.strftime('%H:%M')}}</td>
                        <td>{{ partido.participantes | length}}</td>
                        <td>
                            <a href="{{ url_for('ver_partido', id=partido.id_partido) }}" class="action-link">Ver</a>
                            {% if partido.id_organizador == session.usuario_id %}
                            <a href="{{ url_for('editar_partido', id=partido.id_partido) }}"
                                class="action-link">Editar</a>
                            <a href="{{ url_for('eliminar_partido', id=partido.id_partido) }}" class="action-link"
                                onclick="return confirm('¿Estás seguro de querer eliminar este partido?')">Borrar</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5" style="text-align: center;">No hay partidos registrados</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>

</html>