<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NosFalta1</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <div class="container-edit">
        <h1>Editar partido</h1>
            <div class="container-match">
                <form method="POST" action="/actualizar_partido" class="form">
                    <input type="hidden" id="id" name="id" value="{{ partido.id_partido }}">
                    <div class="form-group">
                        <label for="lugar">Lugar</label>
                        <input type="text" id="lugar" name="lugar" value="{{ partido.lugar }}" required>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="fechaInicio">Fecha</label>
                            <input type="date" id="fechaInicio" name="fechaInicio"
                                value="{{ partido.fecha_inicio.strftime('%Y-%m-%d') }}" required>
                        </div>
                        <div class="form-group">
                            <label for="horaInicio">Hora de Inicio</label>
                            <input type="time" id="horaInicio" name="horaInicio"
                                value="{{ partido.fecha_inicio.strftime('%H:%M') }}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <textarea id="descripcion" name="descripcion" rows="4"
                            required>{{ partido.descripcion }}</textarea>
                    </div>
                    <div class="form-actions">
                        <a href="/dashboard" class="btn btn-secondary">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </form>
            </div>

            <div class="container-match">
                <h1>Participantes Actuales</h1>
                {% for participante in participantes %}
                <div >
                    <div >
                        <div >
                            <form method="POST" action="/eliminar_participante" class="form-inline">
                                <div class="user-info">
                                    <p class="user-id">ID: {{ participante.id_usuario }}</p>
                                    <input type="hidden" name="id_partido_delete" value="{{ partido.id_partido }}">
                                    <input type="hidden" name="id_usuario_delete" value="{{ participante.id_usuario }}">
                                    <p class="user-name">{{ participante.nombre }}</p>
                                </div>
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>



            <div class="container-match">
                <h1>Agregar Participantes</h1>
    
                <div class="search-container">
                    <input type="text" id="searchUsers" placeholder="Buscar usuarios por nombre...">
                </div>
                {% for user in usuarios %}
                            <div>
                                <form method="POST" action="/agregar_participante" class="form-inline">
                                    <div class="user-info">
                                        <p class="user-id">ID: {{ user.id_usuario }}</p>
                                        <input type="hidden" name="id_partido" value="{{ partido.id_partido }}">
                                        <input type="hidden" name="id_usuario" value="{{ user.id_usuario }}">
                                        <p class="user-name">{{ user.nombre }}</p>
                                    </div>
                                    <button type="submit" class="btn-primary">Agregar</button>
                                </form>
                            </div>

                    {% endfor %}
            </div>

    </div>
</body>

</html>