<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partido</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body id="ver">
    {% block content %}
    <div class="container">
        <h2>Detalles del partido</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <div class="form-group">
            <label for="lugar">Lugar</label>
            <input type="text" id="lugar" value="{{ partido.lugar }}" readonly disabled>
        </div>

        <div class="form-group">
            <label for="organizador">Organizador</label>
            <input type="text" id="organizador" value="{{ partido.organizador }}" readonly disabled>
        </div>

        <div class="form-group">
            <label for="fecha_inicio">Fecha de Inicio</label>
            <input type="datetime" id="fecha_inicio" value="{{ partido.fecha_inicio.strftime('%d/%m/%Y') }}" readonly disabled>
        </div>

        <div class="form-grop">
            <label for="hora">Hora</label>
            <input type="time" id="hora" value="{{ partido.fecha_inicio.strftime('%H:%M') }}" readonly disabled>
        </div>
        <br>
        <div class="form-group">
            <label for="detalles">Descripcion</label>
            <textarea id="detalles" readonly disabled>{{ partido.descripcion }}</textarea>
        </div>

        <div class="form-group">
            <form action="{{ url_for('unirse') }}" method="post">
                {% if ready == true %}
                    <button type="submit" class="submit-btn" disabled style="background-color: rgb(26, 26, 26);">Ya te uniste</button>
                {% else %}
                    <button type="submit" class="submit-btn">Unirse al Partido</button>
                {% endif %}
                <input type="hidden" name="id_partido" value="{{ partido.id_partido }}">
                <input type="hidden" name="id_usuario" value="{{ usuario_id }}">
            </form>
        </div>

        <div class="form-group">
            <label>Confirmados</label>
            <ul class="list-group">
                {% for participante in participantes %}
                    <li class="list-group-item">{{ participante.nombre }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="form-group">
            <label>Invitados</label>
            <ul class="list-group">
                {% for invitado in invitados %}
                    <li class="list-group-item">{{ invitado.nombre }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="buttons">
            <a href="{{ url_for('dashboard') }}" class="cancel-btn">Volver</a>
        </div>
    </div>
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>