{% for cancha in canchas %}
<h2>{{ cancha.nombre }}</h2>
<table class="table table-secondary table-hover table-bordered table-sm" style="font-size: 0.85rem;">
    <thead>
        <tr>
            <th style="width: 10%;" scope="row">Hora</th>
            <th style="width: 15%;" scope="row">{{ selected_date.strftime('%A %d') }}</th>
            <th style="width: 10%;" scope="row">Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for hora in range(8, 23) %}
        <tr>
            <td>{{ '%02d:00' % hora }}</td>
            {% set reservas_fecha = reservas.get(selected_date.strftime('%Y-%m-%d'), {}).get(cancha.id_cancha, {}) %}
            {% set reserva = reservas_fecha.get(hora, None) %}
            <td>
                {% if reserva %}
                <div>
                    <p style="margin: 0;">Reservado por {{ reserva.usuario_nombre }}</p>
                </div>
                <form action="{{ url_for('delete_reservation', reservation_id=reserva.id_reserva) }}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                </form>
                {% else %}
                <a href="{{ url_for('reserve', cancha_id=cancha.id_cancha, date=selected_date.strftime('%Y-%m-%d'), time=hora) }}" class="btn btn-primary btn-sm">Reservar</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
