/* General Styles */
* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 10px;
    box-sizing: border-box;
    background-color: whitesmoke;
    background-image: url('/static/img/bg1.webp');

    background-size: cover;
    /* Ajusta la imagen al tamaño del contenedor */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;

}

/* Ordenar elementos por fila */
.flex-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    flex-flow: row wrap;
    width: 80%;
}

/* Ordenar elementos por columna */
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 50px;
    /* Espaciado opcional entre elementos */
}


.container {
    width: 100%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.container-edit {
    width: 90%;
    margin: 0 auto;
    padding: 2px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70vh;
}


.container-row {
    width: 90%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-match {
    margin: 10px 10px;
    background: rgba(160, 160, 160, 0.3);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
    height: 500px;
    width: 400px;
}

h1 {
    color: #e3e3e3;
    text-align: start;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px black;
}

h2 {
    color: #333333;
    text-align: start;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px black;
}


#index {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/img/bg1.webp');

    /* background-image: url('/static/img/bg1.webp');*/

    background-size: cover;
    /* Ajusta la imagen al tamaño del contenedor */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
}

#index-form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
}

#index-form h2 {
    color: #333;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#index-form label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

#index-form input[type="text"],
#index-form input[type="email"],
#index-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

#index-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    background-color: #4dd200;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#index-form button:hover {
    background-color: #43b800;
}

#index-form .form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

}


.flash-message .error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}


/* DASHBOARD*/

#dashboard {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url('/static/img/bg3.webp');
    background-size: cover;
    /* Ajusta la imagen al tamaño del contenedor */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    height: 100vh;
    /* % del viewport height */
}

/* Ajustar el contenedor del dashboard */


.header {
    background-color: rgba(0, 0, 0, 0.8);
    /* Use rgba for opacity */
    color: white;
    padding: 20px;
    text-align: left;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-buttons {
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.header-buttons .button {
    background-color: rgba(38, 150, 1, 1);
    color: #f4f4f4;
    border: 2px solid #4CAF50;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s, color 0.3s;
}

.header-buttons .button:hover {
    background-color: #4CAF50;
    color: white;
}


th,
td {
    padding: 12px;
    border: 1px solid #dee2e6;
    text-align: left;
}

th {
    background-color: #f8f9fa;
}

.action-link {
    display: inline-block;
    padding: 8px 16px;
    background-color: #343434;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.action-link:hover {
    background-color: #0056b3;
    color: white;
}

/* Form Styles */


.form-section {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
}

.forms-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.form-group {
    margin-bottom: 20px;
}

.password-hint {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}

.date-input-container {
    position: relative;
}

.calendar-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
    color: #666;
}

/* Formulario */
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

/* Botones */
.btn {
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
    border: none;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-success {
    background-color: #28a745;
    color: white;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}

/* Usuarios */
.users-container {
    max-height: 400px;
    overflow-y: auto;
    padding: 1rem;
    background: #f8f9fa;
    border-radius: 8px;
    border: 1px solid #dee2e6;
}

.user-item.hidden {
    display: none;
}

/* Flash Messages */

.flash-messages {
    margin-bottom: 20px;
}

.flash-message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.flash-message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}


#ver {
    background-image: url('/static/img/bg7.webp');
    background-size: cover;
    background-position: center;
    padding: 20px;
}

#ver-partido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

#editar-partido {
    background-image: url('/static/img/bg4.webp');
    background-size: cover;
    /* Ajusta la imagen al tamaño del contenedor */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    height: 100vh;
    /* % del viewport height */
}


/* Editar Partido Styles */

.participant-card {
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: space-evenly;

}

.participant-card:hover {
    transform: translateY(-2px);

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.users-container {
    max-height: 400px;
    overflow-y: auto;
    padding: 1rem;
    background: #dfe6ec;
    border-radius: 8px;
    border: 1px solid #dee2e6;
}

.user-item {
    font-size: 0.9rem;
}

.search-container {
    position: sticky;
    top: 0;
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    z-index: 1000;
}


/* Ver Partido Styles */

.list-group {
    list-style: none;
    padding: 0;
}

.list-group-item {
    background: #f8f9fa;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background: #f9f9f9;
}

.form-group textarea {
    height: 100px;
    resize: vertical;
}

.submit-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.cancel-btn {
    background-color: #f8f9fa;
    color: #333;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.cancel-btn:hover {
    background-color: #e2e6ea;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

/* Responsive Styles */

/* Media Queries para Responsividad */

/* Pantallas pequeñas (móviles) */
@media (max-width: 768px) {

    /* Ordenar elementos por columna */
    .flex-column {
        display: flex;
        flex-direction: row;
        gap: 10px;
        /* Espaciado opcional entre elementos */
    }

    .container {
        padding: 2px;
        /* Reducir padding */
        margin: 2px auto;
        /* Reducir márgenes */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2px;
        width: 100%;
    }

    .flex-row {
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        flex-flow: row wrap;
        width: 90%;
        height: 30hv;
    }

    .form-section {
        padding: 5px;
        /* Reducir padding */
        margin: 5px auto;
        /* Reducir márgenes */
    }

    h1,
    h2 {
        font-size: 1.2rem;
        /* Ajustar tamaño de fuente */
        text-align: center;
        margin: 5px 0;
        /* Reducir márgenes */
    }

    .form-group {
        margin: 1px;
        font-size: 8px;
        /* Reducir espacio entre grupos */
    }

    .button {
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
        gap: 1px;
        margin: 1px;
        font-size: 8px;
        padding: 10px;
        /* Reducir espacio entre botones */
    }

    a {
        font-size: 8px;
    }

    .cancel-btn,
    .submit-btn {
        width: 100%;
        padding: 2px;
        /* Reducir padding */
    }


    table th,
    table td {
        white-space: wrap;
        font-size: 10px;
        padding: 3px;
    }

    .table-container {
        overflow-x: auto;
        width: 90%;
    }

    .card {
        margin-bottom: 1rem;
    }

    .users-container {
        max-height: 500px;
    }

    .users-container {
        height: 300px;
        overflow-y: auto;
        padding: 1rem;
        background: #dfe6ec23;
        border-radius: 8px;
        border: 1px solid #dee2e6;
    }

    .user-item {
        font-size: 0.9rem;
        height: 300px;
    }



    .action-link {
        display: inline-block;
        padding: 2px 4px;
        background-color: #343434;
        color: white;
        border: none;
        border-radius: 4px;
        text-decoration: none;
        font-size: 8px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

    .action-link:hover {
        background-color: #0056b3;
        color: white;
    }

    h1,
    h2 {
        font-size: 1.5rem;
    }

    .header-buttons {
        margin: 10px;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }

    .header-buttons .button {
        background-color: rgba(38, 150, 1, 1);
        color: #f4f4f4;
        border: 2px solid #4CAF50;
        padding: 3px 6px;
        text-decoration: none;
        border-radius: 5px;
        margin: 0 10px;
        transition: background-color 0.3s, color 0.3s;
    }

    .header-buttons .button:hover {
        background-color: #4CAF50;
        color: white;
    }

    .container-edit {
        margin: 0 auto;
        padding: 2px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: max-content;
    }


    .container-match {
        margin: 10px 10px;
        background: rgba(255, 0, 0, 0.3);
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 10px;
        overflow: hidden;

    }

    #editar-partido {
        background-image: url('/static/img/bg4.webp');
        background-size: cover;
        /* Ajusta la imagen al tamaño del contenedor */
        background-position: center;
        /* Centra la imagen */
        background-repeat: no-repeat;
    }

    * {
        margin: 10;
        padding: 10;
        box-sizing: border-box;
    }


    .participant-card {
        transition: all 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: space-evenly;
        height: 300px;

    }

    .participant-card:hover {
        transform: translateY(-2px);

        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    #editar-partido {
        background-image: url('/static/img/bg4.webp');
        background-size: cover;
        /* Ajusta la imagen al tamaño del contenedor */
        background-position: center;
        /* Centra la imagen */
        background-repeat: no-repeat;
        height: 1000px;
        /* % del viewport height */
    }

    .card-body {
        height: 300px;
        overflow-y: auto;
    }

}



/* Scrollbar Styles */
/*
.users-container::-webkit-scrollbar {
    width: 8px;
}

.users-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.users-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.users-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Hide User Item */
/*
.user-item.hidden {
    display: none;
}

/* Button Styles */
/*
.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

/* Layout Styles */
/*
.lateral-section {
    width: 300px;
    background: #f8f9fa;
    border-left: 1px solid #dee2e6;
    padding: 1rem;
    overflow-y: auto;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.card-body {
    flex: 1;
}

.main-content .card-body {
    flex: 2;
}

.main-content .main {
    margin-right: 1rem;
    flex: 3;
}

.main-content .lateral-section {
    flex: 1;
}